---
base_template: "templates/base.html"
no_cache: 1
---

{%- block navbar -%} {% from "frappe/templates/includes/avatar_macro.html" import avatar %} {%-
endblock -%} {%- block footer -%} {%- endblock -%} {% block content %}
<div class="container">
    <div class="desktop-container">
        <div class="icons">
            {% for icon in icons %}
                <div class="desktop-icon" data-icon="{{ icon.icon }}" data-type="{{ icon.type }}" data-route="{{ icon.route }}">
                    <div class="icon-container" data-color="{{ icon.color }}"> </div>
                    <div class="icon-label">{{ icon.label }}</div>
                </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock %} {% block script %}
<script>
    frappe.ready(function(){
        $(".desktop-icon").each((i, el)=> {
            let icon_name = $(el).attr("data-icon");
            let icon_container = $(el.children[0])
            const svg = frappe.utils.icon(icon_name, "xl d-icon")
            if (svg) {
                icon_container.html(svg)
            }
            let color_name = icon_container.attr("data-color")
            icon_container.css("background-color", color_name)
        })
        setup_click()
    })

function setup_click(){
    $(".desktop-icon").on("click",(ev)=> {
        let current = $(ev.currentTarget)
        if(current.attr("data-type") == "workspace"){
            window.location.href = window.location.origin + current.attr("data-route")
        }else{
            window.location.href = current.attr("data-route")
        }
    })
}
</script>
{% endblock %}
